body {
    background-color: rgb(3,161,252);
}
header{
    text-align: center;
}

header h2 {
    color:white;
}
.aboutMe {
    width: 50%;
}
.profile {
    width: 300px;
}
.aboutMe-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.projects-container {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
}