body {
    background-color: rgb(3,161,252);
}
header{
    text-align: center;
}

header h2 {
    color:white;
}
.aboutMe {
    width: 50%;
}
.profile {
    width: 300px;
}
.aboutMe-container {
    display: flex;
    justify-content: space-between;
}
